@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(prefixes.css);

.card-profile-image
{
    position: relative;
}

.card-profile-image .editpic{
    position: absolute;
    left: 50%;
    max-width: 140px;
    /*transition: all .15s ease;*/
    transform: translate(-50%, -50%) scale(1);
    font-size: 50px;
    opacity: 0;
    pointer-events: none
}

.card-profile-image img:hover + .editpic{
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
}

.card-profile-image img
{
    position: absolute;
    left: 50%;

    max-width: 140px;

    /*transition: all .15s ease; */
    transform: translate(-50%, -50%) scale(1);

    border: 3px solid #fff;
    border-radius: .375rem;

    opacity: 1;
}
.card-profile-image img:hover
{
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 0.7;
}

.uploadpropic{
    background-color: #f1f1f1;
    display: none;
  position: fixed;
  bottom: 50%;
  left:50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  transform: translate(-50%, -50%);
  padding: 12px;
}


.alignpop{
    display: flex;
    flex-direction: column;
}
.headerpop{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btncancel{
    background: none;
	color: inherit;
	border: none;
    padding: 0;
    margin: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    text-align: right;
    align-self: end;
    justify-self: end;
}
.open-button{
    background: none;
	color: inherit;
	border: none;
    padding: 0;
    margin: 0;
	font: inherit;
	cursor: pointer;
    outline: none;
}

.bg-login-image{
    background: url("https://images.unsplash.com/photo-1506521781263-d8422e82f27a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-size: cover;
}

.validAlert{
    margin: 3rem;
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img
{
    max-height: 3rem;
}

.card-banner .editbanner{
    position: absolute;
    right:0%;
    /*max-width: 200px;*/
    transform: scale(1);
    padding-top: 1rem;
    padding-right:1rem;
    font-size: 2rem;
    opacity: 0;
}

.card-banner:hover .editbanner{
    transform: scale(1.03);
    opacity: 1;
}

.metal {
    border: none; 
    display: block;
    position: relative;
    margin: 0rem auto;
    outline: none;
    
    font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
      inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
      inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
      inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
      
      hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
      hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
    
    transition: color .2s;
  }

  .metal.linear {
    width: 100px;
    font-size: 1em;
    height: 40px;
    border-radius: .5em;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
      
      linear-gradient(180deg, hsl(0,0%,78%)  0%, 
      hsl(0,0%,90%) 47%, 
      hsl(0,0%,78%) 53%,
      hsl(0,0%,70%)100%);
  }

  
  .metal:active {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
    box-shadow: 
      inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
      inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
      inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
      inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */
      
      hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
      hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
      hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
  }

